<!doctype html>
<html lang="en" layout:decorate="~{layout}">
<div layout:fragment="content" class="container mt-5 pt-5">
	<h5 class="my-3 border-bottom py-3">답변 수정</h5>

	<form method="post" th:object="${answerForm}">
		<!--<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>-->
		<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
		<div class="form-group">
			<div th:replace="~{form_errors :: formErrorsFragment}"></div>
			<label for="content">내용</label>
			<textarea th:field="*{content}" class="form-control"
				rows="3"></textarea>
		</div>
		<input type="submit" value="답변 수정" class="btn btn-info">
	</form>
</div>

</html>