<html layout:decorate="~{layout}">
	<div layout:fragment="content" class="container">
		<div class="row">
			<div class="col-12">
				<h2 class="border-bottom py-3">[[${question.subject}]]</h2>
				<div class="card">
				  <div class="card-body">
				    [[${question.content}]]			
					<span class="float-right badge badge-dark p-2 ml-2" th:if="${question.author != null}" th:text="${question.author.username}"></span>
					<hr class="my-3"/>	
					<a href="javascript:void(0)" class="recommend float-right badge badge-primary p-2 ml-2"
					th:data-uri="@{|/question/vote/${question.id}|}">좋아요 👍 
					<span class="badge badge-light">[[${#lists.size(question.voter)}]]</span></a>	
					<div th:if="${question.modifyDate !=null}">
						<span class="float-right badge badge-warning ml-2 p-2">[[${#temporals.format(question.modifyDate,'yyyy-MM-dd HH:mm')}]] 수정됨</span>
					</div>
					<span class="float-right badge badge-warning p-2">[[${#temporals.format(question.createDate)}]] 작성됨</span>				
				  </div>
				</div>
				
				<div class="row my-2">
					<div class="col">
						<a th:href="@{|/question/modify/${question.id}|}" class="btn btn-outline-info" th:if="${question.author != null and #authentication.getPrincipal().getUsername() == question.author.username}" th:text="질문수정" sec:authorize="isAuthenticated()"></a>
						<a href="javascript:void(0);" th:data-uri="@{|/question/delete/${question.id}|}" class="delete btn btn-outline-danger" th:if="${question.author != null and #authentication.getPrincipal().getUsername() == question.author.username}" th:text="질문삭제" sec:authorize="isAuthenticated()"></a>
					</div>
				</div>
				
				<h4 class="my-3">[[${#lists.size(question.answerList)}]]개의 답변이 있습니다.</h4>
				<div class="card my-2" th:each="answer : ${question.answerList}">
				  	<a th:id="|answer_${answer.id}|"></a>
					<div class="card-body">
				    [[${answer.content}]]
					<span th:if="${answer.author != null}" class="badge badge-dark p-2 ml-2 float-right" th:text="${answer.author.username}"></span>
					<hr class="my-3"/>
					<div class="row">
						<div class="col my-3">
							
							<a href="javascript:void(0)" class="recommend float-right badge badge-primary p-2 ml-2"
												th:data-uri="@{|/answer/vote/${answer.id}|}">좋아요 👍 
												<span class="badge badge-light">[[${#lists.size(answer.voter)}]]</span></a>	
							<div th:if="${answer.modifyDate !=null}">
								<span class="float-right badge badge-warning ml-2 p-2">[[${#temporals.format(answer.modifyDate,'yyyy-MM-dd
									HH:mm')}]] 수정됨</span>
							</div>
							<span class="badge badge-info p-2 float-right">[[${#temporals.format(answer.createDate)}]] 작성됨</span>
							
						</div>
					</div>
					<div class="row">
						<div class="col">
							<a th:href="@{|/answer/modify/${answer.id}|}" class="btn btn-outline-warning btn-sm" th:if="${answer.author != null and #authentication.getPrincipal().getUsername() == answer.author.username}" th:text="답변수정" sec:authorize="isAuthenticated()"></a>
							<a href="javascript:void(0);" th:data-uri="@{|/answer/delete/${answer.id}|}" class="delete btn btn-outline-danger btn-sm" th:if="${answer.author != null and #authentication.getPrincipal().getUsername() == answer.author.username}" th:text="질문삭제" sec:authorize="isAuthenticated()"></a>
						</div>
					</div>
				  </div>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-12">
				<form th:action="@{|/answer/create/${question.id}|}" method="post" th:object="${answerForm}">
					<div class="form-group">
					    <label for="exampleFormControlTextarea1">Example textarea</label>
						
						<div th:replace="~{form_errors :: formErrorsFragment}"></div>
						
					    <textarea sec:authorize="isAnonymous()" disabled th:field="*{content}" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="로그인해야 답변을 작성하실 수 있습니다."></textarea>
						<textarea sec:authorize="isAuthenticated()" th:field="*{content}" class="form-control" id="exampleFormControlTextarea1" rows="3" ></textarea>
					</div>
					<input type="submit" value="답변 등록"/ class="btn btn-info">  
				</form>
			</div>
		</div>
	</div>
	<script layout:fragment="script">
		const delete_elements=document.getElementsByClassName("delete");
		Array.from(delete_elements).forEach(function(element){
			element.addEventListener("click",function(){
				if(confirm("정말로 삭제하시겠습니까?")){
					location.href=this.dataset.uri;
				}
			})
		})
		const recommend_elements = document.getElementsByClassName("recommend");
			Array.from(recommend_elements).forEach(function (element) {
				element.addEventListener("click", function () {
					if (confirm("정말로 추천하시겠습니까?")) {
						location.href = this.dataset.uri;
					}
				})
			})
	</script>
</html>








